<!-- Barra de Herramientas-->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="home()">
    <mat-icon>home</mat-icon>
  </button>

  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <a href="/auth/register" >
    <button
      mat-icon-button tool
      matTooltip="Registrarse"
      matTooltipHideDelay="100"
    >
      <mat-icon>person_add</mat-icon>
    </button>
  </a>
  <a href="/auth/login" >
  <button
    mat-icon-button
    matTooltip="Ingresar / Salir"
    matTooltipHideDelay="100"
  >
    <mat-icon>login</mat-icon>
  </button>
  </a>
</mat-toolbar>
