<!-- Barra de Herramientas-->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="home()">
    <mat-icon>home</mat-icon>
  </button>

  <span>{{ title }}</span>
  <span class="toolbar-spacer"></span>
  <!-- not logued -->
  <button *ngIf="!isLogued"
      mat-icon-button tool
      matTooltip="Registrarse"
      matTooltipHideDelay="100"
      (click)="register()"
    >
      <mat-icon>person_add</mat-icon>
  </button>
  <button *ngIf="!isLogued"
      mat-icon-button
      matTooltip="Ingresar"
      matTooltipHideDelay="100"
      (click)="login()"
    >
    <mat-icon>login</mat-icon>
  </button>
  <!-- Logueado-->
  <button *ngIf="isLogued"
  mat-icon-button tool
  matTooltip="{{userName}}"
  matTooltipHideDelay="100"
  [matMenuTriggerFor]="menu"

>
  <mat-icon>account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="perfil()"><mat-icon>manage_accounts</mat-icon>Perfil</button>
  <button mat-menu-item (click)="verCarrito()"><mat-icon>shopping_cart</mat-icon>Ver compras</button>
</mat-menu>

<button *ngIf="isLogued"
  mat-icon-button
  matTooltip="Salir"
  matTooltipHideDelay="100"
  (click)="logout()"
>
<mat-icon>logout</mat-icon>
</button>
</mat-toolbar>