<app-navbar [isLogued]="logued" [userName]="userName" [idUsuario]="idUsuario"></app-navbar>

<!-- Detalle de la Compra -->
<div class="store">
  <section class="section-container-books">
    <h3>Historial de Compras</h3>
    <hr>
    <diV *ngFor="let carrito of carritos" class="carrito-card">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Cantidad libros: {{ carrito.idBooks!.length }}</mat-card-title>
            <mat-card-subtitle>Fecha Compra: {{ carrito.fechaCompra}}</mat-card-subtitle>
            <mat-card-subtitle>Precio Total: ${{ carrito.total }}</mat-card-subtitle>
          </mat-card-title-group>
          <button mat-mini-fab color="primary" (click)="detalleCarrito(carrito.idBooks!)" tool
            matTooltip="Detalle Compra" matTooltipHideDelay="100">
            <mat-icon>view_list</mat-icon>
          </button>
        </mat-card-header>
      </mat-card>
    </diV>
    <div class="products">
      <button mat-raised-button color="warn" type="submit" (click)="volver()">Volver</button>
    </div>
  </section>


  <!-- Seccion carrito-->
  <section class="section-container-shop" *ngIf="detalle">
    <section class="detalle-container">
      <h1>Detalle</h1>
      <div class="shopping-cart-button">
        <button mat-mini-fab color="warn" tool matTooltip="Ocultar Detalle" matTooltipHideDelay="100" (click)="ocultarDetalle()">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </section>
    <hr>
    <div class="shopping-cart">
      <mat-card class="card" *ngFor="let book of books" cdkDrag>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ book.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ book.autor }}</mat-card-subtitle>
            <mat-card-subtitle>Pais: {{ book.pais }}</mat-card-subtitle>
            <mat-card-subtitle>Idioma: {{book.idioma}}</mat-card-subtitle>
            <mat-card-subtitle>Año: {{book.year}}</mat-card-subtitle>
            <mat-card-subtitle>Precio: ${{ book.precio }}</mat-card-subtitle>
            <img mat-card-image [src]="'../../../assets/' +book.imagen" [alt]="book.titulo" width="25%">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</div>