<!--Barra de Navegacion -->
<app-navbar (mensaje)="recibirMensaje( $event )" [isLogued]="logued" [userName]="userName" [idUsuario]="idUsuario"></app-navbar>

<app-detalle-compra *ngIf="itemsToBuy" [cart]="cart" [costoTotal]="costoTotal"></app-detalle-compra>

<!-- Seccion de libros disponibles-->
<div *ngIf="!itemsToBuy" cdkDropListGroup class="store">
  <section
    class="section-container-books"
    cdkDropList
    [cdkDropListData]="books"
    (cdkDropListDropped)="drop($event)">
    <h1>Libros</h1>
    <hr>
    <app-busqueda (booksFiltered)="recibirLibrosFiltrados( $event )" [books]="books"></app-busqueda>
    <div class="products">
      <mat-card class="card" *ngFor="let book of books.slice(inicio, fin)" cdkDrag>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ book.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ book.autor }}</mat-card-subtitle>
            <mat-card-subtitle>Pais: {{ book.pais }}</mat-card-subtitle>
            <mat-card-subtitle>Idioma: {{book.idioma}}</mat-card-subtitle>
            <mat-card-subtitle>Año: {{book.year}}</mat-card-subtitle>
            <mat-card-subtitle>Precio: ${{ book.precio }}</mat-card-subtitle>
            <mat-card-subtitle><a [href] = "book.link" target="_blank" rel="noopener noreferrer">+Info</a></mat-card-subtitle>
            <img mat-card-image [src]="'../../../assets/' +book.imagen" [alt]="book.titulo" width="25%">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <br>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="products">
      <button disabled="{{!prevPage}}" type="button" mat-raised-button color="primary" (click)="showPrevPage()">Anterior</button>
      <button disabled="{{!nextPage}}" type="button" mat-raised-button color="primary" (click)="showNextPage()">Siguiente</button>
    </div>
  </section>
  <!-- Seccion carrito-->
  <section
    class="section-container-shop"
    cdkDropList
    [cdkDropListData]="cart"
    (cdkDropListDropped)="drop($event)"
    *ngIf="logued"
  >
    <h1>Carrito de Compra</h1>
    <hr>
    <section>
      <div class="shopping-cart" *ngIf="cart.length > 0">
        <button type="button" mat-raised-button color="primary" (click)="buy()">Comprar</button>
        <button type="button" mat-raised-button color="warn" (click)="vaciar()">
          Vaciar
        </button>
      </div>
    </section>
    <div class="carrito" *ngIf="cart.length == 0">
      <h3>Arrastre aqui sus libros</h3>
      <br>
      <mat-icon class="icon-size">add-circle-outline</mat-icon>
    </div>
    <div class="shopping-cart">
      <mat-card class="card" *ngFor="let book of cart" cdkDrag>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ book.titulo }}</mat-card-title>
            <mat-card-subtitle>{{ book.autor }}</mat-card-subtitle>
            <mat-card-subtitle>Pais: {{ book.pais }}</mat-card-subtitle>
            <mat-card-subtitle>Idioma: {{book.idioma}}</mat-card-subtitle>
            <mat-card-subtitle>Año: {{book.year}}</mat-card-subtitle>
            <mat-card-subtitle>Precio: ${{ book.precio }}</mat-card-subtitle>
            <img mat-card-image [src]="'../../../assets/' +book.imagen" [alt]="book.titulo" width="25%">
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <br>
        </mat-card-content>
      </mat-card>
    </div>

  </section>
</div>
